@charset "utf-8";

/* 
paleta de cores deste site:
#2f4858 //footer
#265667 
#136473
#00737a //nav
#00817d
#008f7a //petrolio
#007ec3 //azul escuro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    /* background-image: linear-gradient(to bottom,#00bad3 50%, #00728a 100%);
    background-repeat: repeat; */
    background-image: linear-gradient(to bottom, #00bad3 50%, #00728a 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

    color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    justify-content: flex-start;
    display: flexbox;
}

header {
    height: 135px;
    border-radius: 05px;
    /* border: solid #0096af 3px; */
    background-color: #265667;
    padding: 7px 15px;
    align-items: center;
    text-align: center;
}

nav {

    height: 045px;
    border-radius: 5px;
    /* border: solid #0096af 3px;
    text-align: center;
    vertical-align: middle; */
    padding: 7px;
    background-color: #00737a;

    align-items: center;
    text-align: center;
}

button {
    padding: 02px 12px;
    margin: -3px 12px;
    background-color: #00737a;
    border: solid #00bad3 3px;
    border-radius: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

main {
    /* height: auto; */

    height: 100%;
    border-radius: 05px;
    /* border: solid #0096af 3px; */
    background-color: #00817d;
    padding: 7px;
}

footer {
    /* border-color: #00bad3; */
    /* border-style: solid; */
    /* text-align: center;
       vertical-align: center;
    */
    /* border: solid #0096af 3px; */
    height: 85px;
    border-radius: 5px;
    background-color: #2f4858;
    padding: 17px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

}

.container p {
    align-items: flex-start;
    text-align: justify;
    flex: 1;

}

/* As configurações  abaixo foram adicionadas para melhorar a responsividade do site, no caso o tamanho de 
100X100 no htmal deixa de ser usado para ser usado do CSS */

.container img {
    width: 270px;
    height: 250px;
    margin-left: 7px;
    margin-right: 20px;

}

#iconav {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-bottom: -5px;
    align-items: center;
    text-align: justify;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-transform: none;
}


/* 
#imagmain {
    max-height: 100%;
} */