@charset "utf-8";

/* 
paleta de cores deste site:
#2f4858 //footer
#265667 
#136473
#00737a //nav
#00817d
#008f7a //petrolio
#007ec3 //azul escuro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: #007ec3;
    color: #fff;
    display: flexbox;
}

header {
    background-color: #265667;
    height: 200px;
    padding: 7px;
}

nav {
    padding: 7px;
    background-color: #00737a;
    text-align: center;
    vertical-align: middle;
    height: 35px;
}

main {
    background-color: #00817d;
    height: auto;
    padding: 7px;
}

footer {
    background-color: #2f4858;
    text-align: center;
    vertical-align:center;
    height: 85px;
    padding: 17px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container p {
    align-items: flex-start;
    text-align: justify;
    flex: 1;

}

.container img {
    width: auto;
    margin-left: 7px;
    margin-right: 20px;

}

#imagmain{
    max-height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-transform: none;
}